IDI_ICON1 ICON DISCARDABLE "icons/icon.ico"

1 VERSIONINFO
FILEVERSION 0,0,0,1
PRODUCTVERSION 0,0,0,1
FILEOS 0x40004
FILETYPE 0x1
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName", "BoschiCoin"
			VALUE "FileDescription", "Boschicoin-Qt (OSS GUI client for BoschiCoin)"
			VALUE "FileVersion", "0.0.0.1"
			VALUE "InternalName", "boschicoin-qt"
			VALUE "LegalCopyright", "2009-2012 The Bitcoin developers 2011-2012 The Litecoin Developers 2014 The BoschiCoin developers"
			VALUE "LegalTrademarks1", "Distributed under the MIT/X11 software license, see the accompanying file COPYING or http://www.opensource.org/licenses/mit-license.php."
			VALUE "OriginalFilename", "boschicoin-qt.exe"
			VALUE "ProductName", "Boschicoin-Qt"
			VALUE "ProductVersion", "0.0.0.1"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0, 0x04E4
	END
END
